<% include header %>

<h2>ìƒˆ ê¸€ ì“°ê¸°</h2>

<form method="post" role="form">
  <div class="form-group">
    <label for="title">ì œëª©</label>
    <input
      type="text"
      class="form-control"
      id="title"
      name="title"
      placeholder="ì œëª© ìž…ë ¥"
      required
    />
  </div>
  <div class="form-group">
    <label for="body">ë‚´ìš© ìž…ë ¥</label>
    <textarea
      class="form-control"
      id="body"
      name="body"
      placeholder="ê°€ë‚˜ë””ë¥¼ ì‚¬ëž‘í•´ì£¼ì„¸ìš”. ê°€ë‚˜ë””ëŠ” ìµœê³ ìž…ë‹ˆë‹¤. ê°€ë‚˜ë””ðŸ¶"
      rows="3"
      required
    ></textarea>
  </div>
  <div class="form-group">
    <input type="submit" value="ê¸€ ë“±ë¡" class="btn btn-primary" />
  </div>
</form>

<% include footer %>
